<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="${basedir}/nlog-internal.txt" internalLogLevel="Info" >
  <targets>
    <target name="file" xsi:type="File" layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger}: ${message} ${exception:format=toString}" fileName="${basedir}/${shortdate}.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="file" />
  </rules>
</nlog>